// .snippet-code .snippet-result .snippet-result-code {
.snippet-result .snippet-result-code {
    padding-top: 20px;
    margin-top: 20px;
    height: 200px;
    position: relative
}

.snippet-box-edit {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    border: 0;
    margin: 0;
    resize: none;
    background: var(--white);
    overflow: auto
}


.snippet-ctas {
    font-size: var(--fs-body1)
}

.snippet-ctas>*:not(:last-child) {
    margin-right: 6px
}

.snippet-ctas .icon-play-white {
    position: relative;
    top: 1px;
    margin-right: 2px
}